.team__container, .services__container, .banner__container, .header__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__action-btn {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.team__title-box::after, .services__title-box::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 60px;
  height: 3px;
  background-color: #f38181;
}

.team__title, .services__title {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;
  color: #333;
}

.team__sub-title, .services__sub-title {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;
  color: #333;
}

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: inherit;
  font-style: inherit;
}

.header {
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__content, .header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 55px;
  color: #fff;
}
.header__nav-list {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.14;
  font-weight: 400;
  text-transform: uppercase;
}
.header__nav-link {
  padding: 10px 0;
}
.header__action-icon {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.16;
  font-weight: 700;
}

.banner {
  background: linear-gradient(rgba(243, 129, 129, 0.931) 0%, rgba(252, 227, 138, 0.89) 100%), url("../../../assets/images/banner/eagle.jpg");
  background-size: auto, cover;
  background-position: center, top;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: -65px;
  width: 100vw;
  height: 1000px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .banner {
    background: linear-gradient(rgba(243, 129, 129, 0.931) 0%, rgba(252, 227, 138, 0.89) 100%), url("../../../assets/images/banner/eagle@x2.jpg");
    background-size: auto, cover;
    background-position: center, top;
    background-repeat: no-repeat;
  }
}
.banner__container {
  padding-top: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner__sub-title {
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  font-size: 72px;
  line-height: 1.15;
  color: #fff;
}
.banner__sub-title--mb {
  margin-bottom: 65px;
}
.banner__title {
  max-width: 900px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 0.93;
  text-transform: uppercase;
  color: #fff;
}
.banner__title--mb {
  margin-bottom: 83px;
}
.banner__link {
  padding: 10px 0 8px 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  width: 132px;
  border: 3px solid #fff;
  background: transparent;
}

.services__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 12px;
}
.services__title-box::after {
  margin-top: 26px;
}
.services__items {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-items: space-between;
  grid-row-gap: 90px;
  grid-column-gap: 50px;
  padding: 0 20px;
}
.services__items--mt {
  margin-top: 63px;
}
.services__item {
  width: 100%;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 30px;
}
.service__icon {
  width: 100%;
  max-width: 34px;
  height: 32px;
  flex-grow: 2;
}
.service__title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}
.service__title--mb {
  margin-bottom: 12px;
}
.service__txt {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.team {
  padding-top: 85px;
}
.team__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 12px;
}
.team__title-box::after {
  margin-top: 26px;
}
.team__txt {
  text-align: center;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 950px;
}
.team__txt--retreat {
  margin: 40px auto 90px auto;
}
.team__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 380px;
}
.card__img-box {
  position: relative;
  background-color: #95e1d3;
}
.card__img-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.81) 0%, rgba(243, 129, 129, 0.81) 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card__img-box:hover::after {
  opacity: 1;
  transform: translate(-10px, -10px);
}
.card__img-box:hover .card__img {
  transform: translate(-10px, -10px);
}
.card__img-box:hover .card__sources-list {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.card__img {
  transition: transform 0.6s ease;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}
.card__title {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  text-transform: uppercase;
}
.card__position {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 1.6;
}
.card__sources-list {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #fce38a;
}
.card__sources-item {
  width: 56px;
  height: 56px;
}
.card__sources-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fce38a;
  transition: background 0.6s ease;
}
.card__sources-link:hover {
  background-color: #f38181;
}
.card__sources-link:hover .card__sources-icon {
  fill: #fff;
}
.card__sources-icon {
  width: 36px;
  height: 36px;
  fill: #f38181;
  transition: fill 0.6s ease;
}/*# sourceMappingURL=main.css.map */