.banner__container, .header__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__action-btn {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: inherit;
  font-style: inherit;
}

.header {
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__content, .header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 55px;
  color: #fff;
}
.header__nav-list {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 1.14;
  font-weight: 400;
  text-transform: uppercase;
}
.header__nav-link {
  padding: 10px 0;
}
.header__action-icon {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.logo {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.16;
  font-weight: 700;
}

.banner {
  background: linear-gradient(rgba(243, 129, 129, 0.931) 0%, rgba(252, 227, 138, 0.89) 100%), url("../../../assets/images/banner/eagle.jpg");
  background-size: auto, cover;
  background-position: center, top;
  background-repeat: no-repeat;
  position: relative;
  left: 0px;
  top: -65px;
  width: 100vw;
  height: 1000px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .banner {
    background: linear-gradient(rgba(243, 129, 129, 0.931) 0%, rgba(252, 227, 138, 0.89) 100%), url("../../../assets/images/banner/eagle@x2.jpg");
    background-size: auto, cover;
    background-position: center, top;
    background-repeat: no-repeat;
  }
}
.banner__container {
  padding-top: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner__sub-title {
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  font-size: 72px;
  line-height: 1.15;
  color: #fff;
}
.banner__sub-title--mb {
  margin-bottom: 65px;
}
.banner__title {
  max-width: 900px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 0.93;
  text-transform: uppercase;
  color: #fff;
}
.banner__title--mb {
  margin-bottom: 83px;
}
.banner__link {
  padding: 10px 0 8px 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  width: 132px;
  border: 3px solid #fff;
  background: transparent;
}/*# sourceMappingURL=main.css.map */