html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  font-family: inherit;
  font-style: inherit;
}

// background: linear-gradient(
//     rgba(243, 129, 129, 0.931) 0%,

//     rgba(252, 227, 138, 0.89) 100%
//   ),
//   url("../../../assets/images/orzel.png");

// position: absolute;
// left: 0px;
// top: 0px;
// width: 1920px;
// height: 1000px;
