%visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

%container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

%btn {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

%title-underline {
  content: "";
  display: block;
  width: 100%;
  max-width: 60px;
  height: 3px;
  background-color: $gradient-color-second;
}

%section-title {
  font-family: $title-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.16;
  text-transform: uppercase;

  color: $txt-color-dark;
}

%section-sub-title {
  font-family: $subtitle-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.16;

  color: $txt-color-dark;
}
