// fonts
$title-font: "Montserrat", sans-serif;
$subtitle-font: "Kaushan Script", cursive;
$text-font: "Roboto", sans-serif;

//colors:
$txt-color-white: #fff;
$txt-color-dark: #333;
$txt-color-secondary: #999;
$underline-color: #f38181;
