// fonts
$title-font: "Montserrat", sans-serif;
$subtitle-font: "Kaushan Script", cursive;
$text-font: "Roboto", sans-serif;

//colors:
$txt-color-white: #fff;
$txt-color-dark: #333;
$txt-color-secondary: #999;

$background: #95e1d3;
$background-darker: #499e8e;
$border-color: #e7e7e7;

$gradient-color-first: #fce38a;
$gradient-color-second: #f38181;

//animations:
$time-and-func: 0.3s ease;
