.footer {
  @extend %container;
  @include flex-container;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 0px;
  border-top: 1px solid $border-color;

  &__info {
    font-family: $title-font;
    font-weight: 700;
    color: $txt-color-dark;
  }

  &__author-link {
    color: $gradient-color-second;
  }
}
