.header {
  padding-top: 30px;
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
    @include flex-container;
  }

  &__content {
    display: none;

    @include for-size(tablet) {
      @include flex-container;
      color: $txt-color-white;
      gap: 20px;
      align-self: flex-end;
    }
    @include for-size(desktop) {
      gap: 35px;
    }
  }

  &__nav-list {
    @include flex-container;
    color: $txt-color-white;
    gap: 25px;
    font-family: $title-font;
    line-height: 1.14;
    font-weight: 400;
    text-transform: uppercase;

    color: $txt-color-white;

    @include for-size(desktop) {
      gap: 55px;
    }
  }

  &__nav-link {
    padding: 10px 0;
    position: relative;
    transition: color $time-and-func;

    &:after {
      content: "";
      display: block;
      width: 0px;
      height: 3px;

      position: absolute;
      left: 0;
      bottom: -8px;
      z-index: 15;

      background-color: $gradient-color-first;
      transition: width $time-and-func;
    }

    &:hover,
    &:focus {
      color: $gradient-color-first;

      &::after {
        width: 100%;
      }
    }
  }

  &__action-btn {
    @extend %btn;

    &:hover,
    &:focus {
      .header__action-icon {
        fill: $gradient-color-first;
      }
    }
  }

  &__action-icon {
    fill: $txt-color-white;
    width: 18px;
    height: 18px;
    transition: fill $time-and-func;
  }
}
