.logo {
  color: $txt-color-white;
  font-family: $title-font;
  font-size: 30px;
  line-height: 1.16;
  font-weight: 700;
  transition: all $time-and-func;

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $gradient-color-first;
  }
}
