.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;

  @include for-size(desktop) {
    width: auto;
  }

  &__input {
    width: 100%;
    max-width: 430px;
    height: 40px;
    padding-left: 14px;

    font-family: $text-font;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 1.6;

    color: $txt-color-secondary;
    background-color: $txt-color-white;
    border: 1px solid $border-color;

    @include for-size(desktop) {
      width: 230px;
    }
  }

  &__submit {
    @extend %btn;
    width: 150px;
    height: 40px;

    font-family: $title-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;

    color: $txt-color-white;
    background-color: $background;
    transition: background-color $time-and-func;

    &:hover,
    &:focus {
      background-color: $background-darker;
    }
  }
}
